.header {
  width: 100%;
}

.nav {
  width: 100%;
}

.navList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 1rem;
}

.navItem {
  padding: 0.5rem 1rem;
}

.navLink {
  text-decoration: none;
  color: inherit;
}

.navLink:hover {
  text-decoration: underline;
}

